[submodule "Opus-Scripts"]
	path = Opus-Scripts
	url = git@github.com:egoisth777/Opus-Scripts.git
[submodule "Win-Automation"]
	path = Win-Automation
	url = git@github.com:egoisth777/Win-Automation.git
[submodule "AHK-Scripts"]
	path = AHK-Scripts
	url = git@github.com:egoisth777/AHK-Scripts.git
[submodule "Nvim-Config"]
	path = Nvim-Config
	url = git@github.com:egoisth777/Nvim-Config.git
[submodule "Configs"]
	path = Configs
	url = git@github.com:egoisth777/Configs.git
[submodule "Powershell-Scripts"]
	path = Powershell-Scripts
	url = git@github.com:egoisth777/Powershell-Scripts.git
